<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
	</div>
</nav>

<div class="help">
	<h2>Help</h2>
	<p>If you need assistance, please call our 24-hour help line. We are open seven days a week, and on
		holidays especially.
		<a class="btn btn-default btn-block" href="tel:4083748511"><i class="glyphicon glyphicon-earphone"></i> (408) 374-8511</a>
	</p>
		
	<h2>Feedback</h2>
	<p>This app is a service of <a href="http://aasanjose.org/">Santa Clara County Intergroup</a>. 
		It is <a href="https://github.com/intergroup/web-app">open source software</a> developed by AA 
		volunteers. If you have questions, please get in touch:
		<a class="btn btn-default btn-block" href="mailto:app@aasanjose.org"><i class="glyphicon glyphicon-envelope"></i> app@aasanjose.org</a>
	</p>
</div>