<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
	</div>
</nav>

<div class="meeting-detail">
	<div ng-cloak>
		<h1>{{ meeting.name }}</h1>

		<h4>
			{{ days[meeting.day].value }}s, {{ meeting.time_formatted }}
		</h4>

		<address>
			<a class="address" href="http://maps.apple.com/?q={{ meeting.address + ', ' + meeting.city + ', ' + meeting.state | escape }}">
				<strong>{{ meeting.location }}</strong><br>
				{{ meeting.address }}<br>
				{{ meeting.city }}, {{ meeting.state }}
			</a>
		</address>

		<!--
		<div class="alert alert-info" ng-if="meeting.distance > 0">
			<i class="glyphicon glyphicon-map-marker"></i> <a class="alert-link" href="http://maps.apple.com/?q={{ meeting.address + ', ' + meeting.city + ', ' + meeting.state | escape }}">{{ meeting.distance }} miles</a> from your current location
		</div>
		-->	

		<!--
		<div class="alert alert-warning" ng-if="window.navigator.standalone && meeting.distance === null">
			Loading distance&hellip;
		</div>		
		-->	

		<!--
		<div class="alert alert-danger" ng-if="meeting.distance === false">
			Could not determine location
		</div>	
		-->	

		<ul ng-if="meeting.types">
			<li ng-repeat="type in meeting.types"><i class="glyphicon glyphicon-ok"></i> {{ types[type.trim()] }}</li>
		</ul>

		<!--
		<div class="row buttons">
			<div class="col-xs-6">
				<button class="btn btn-default btn-block" ng-class="{ active: meeting.favorite }" ng-click="set_favorite()"><i class="glyphicon glyphicon-star"></i> Favorite</button>
			</div>
			<div class="col-xs-6">
				<a class="btn btn-default btn-block" href="mailto:?subject={{ meeting.name | escape }}&amp;body=<br><br><strong>{{ meeting.name | escape }}</strong><br>{{ days[meeting.day].value }}s, {{ meeting.time_formatted }}<br>{{ meeting.location | escape }}<br>{{ meeting.address | escape }}<br>{{ meeting.city | escape }}%2C%20{{ meeting.state || escape }}"><i class="glyphicon glyphicon-envelope"></i> Email</a>
			</div>
		</div>
		-->
		
		<a class="map" href="http://maps.apple.com/?q={{ meeting.address + ', ' + meeting.city + ', ' + meeting.state | escape }}"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ meeting.latitude }},{{ meeting.longitude }}&amp;zoom=15&amp;size=320x320&amp;maptype=roadmap&amp;markers=color:blue%7C{{ meeting.latitude }},{{ meeting.longitude }}" width="320" height="320"></a>
	</div>
</div>