<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-cloak ng-click="reset_vars()"><span ng-bind="format_day()"></span><span ng-if="format_region()">, </span><span ng-bind="format_region()"></span></a>
		</div>
		<div class="collapse navbar-collapse" id="collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-calendar"></i> Day <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<!--<li><a href="#">Any Day</a></li>
						<li class="divider"></li>-->
						<li ng-repeat="day in days" ng-class="{'active': (day.id == selected_day)}"><a ng-click="set_day(day)">{{ day.value }}</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-map-marker"></i> Location <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<!--<li><a href="#">Nearby (within 5 mi)</a></li>-->
						<li ng-class="{'active': (!selected_region)}"><a ng-click="set_region()">Everywhere</a></li>
						<li class="divider"></li>
						<li ng-repeat="region in regions" ng-class="{'active': (region.id == selected_region)}"><a ng-click="set_region(region)">{{ region.value }}</a></li>
					</ul>
				</li>
				<li><a href="#help"><i class="glyphicon glyphicon-question-sign"></i> Help &amp; Feedback</a></li>
			</ul>
		</div>
	</div>
</nav>

<ul class="list-group">
	<div class="height">
		<li id="meeting-{{ meeting.id }}" class="list-group-item" ng-class="{ favorite: meeting.favorite }" ng-cloak ng-repeat="meeting in filteredMeetings = (meetings | filter:{day:selected_day, region_id:selected_region} | orderBy:['time','name'])">
			<a class="location" href="http://maps.apple.com/?q={{ meeting.address + ', ' + meeting.city + ', ' + meeting.state | escape }}">
				<h4>{{ format_time(meeting.time) }}</h4>
				<i class="glyphicon glyphicon-map-marker"></i>
			</a>
			<a class="content" href="/meetings/{{ meeting.slug }}">
				<h4 class="list-group-item-heading">
					{{ meeting.name }}
					<span ng-show="meeting.types_formatted">{{ meeting.types_formatted }}</span>
				</h4>
				<address>
					<div ng-hide="{{ meeting.location == meeting.address }}">{{ meeting.location }}</div>
					<div>{{ meeting.address }}</div>
					<div>{{ meeting.region }}</div>
				</address>
				<i class="glyphicon glyphicon-chevron-right"></i>
			</a>
		</li>
		<li ng-hide="meetings.length" class="list-group-item loading"></li>
		<li ng-hide="filteredMeetings.length" class="empty">
			<span ng-cloak>No meetings listed on {{ format_day() }} in {{ format_region() }}.</span>
		</li>
	</div>
</ul>
