<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
	</div>
</nav>

<div class="meeting-detail">
	<h1>Meeting Name</h1>

	<address>
		123 Main Street<br>Second Floor<br>Campbell, CA, 95041
	</address>

	<div>
		8:15p Tuesdays
	</div>

	<div class="row">
		<div class="col-xs-6">
			<button class="btn btn-default btn-block"><i class="glyphicon glyphicon-star"></i> Favorite</button>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-default btn-block" href="sms:body="><i class="glyphicon glyphicon-phone"></i> Text Message</button>
		</div>
	</div>

	<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3174.8988508344405!2d-121.9334642!3d37.273825599999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e34f0d6d1d4e7%3A0x86dfb9b1b1283cd9!2s2634+Union+Ave%2C+San+Jose%2C+CA+95124!5e0!3m2!1sen!2sus!4v1409273757567" frameborder="0"></iframe>

</div>